    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Register to IN+</h3>
            <p>Create account to see it in action.</p>
			<%= form_for @user do |user| %>
				<% if @user.errors.any? %>
					<div class="error_messages">
						<h2>Form is invalid</h2>
						<ul>
							<% for message in @user.errors.full_messages %>
							<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
                <div class="form-group">
					<%= user.text_field :email, class: 'form-control', placeholder: 'email@example.com' %>
                </div>
                <div class="form-group">
					<%= user.password_field :password, class: 'form-control', placeholder: 'Password' %>
                </div>
                <div class="form-group">
					<%= user.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
                </div>
                <div class="form-group">
                    <div class="checkbox"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div>
				<p><%= user.submit 'Register', :class => 'btn btn-primary block full-width m-b'%></p>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="log_in">Login</a>
            <% end %>
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
        </div>
    </div>

